<template>
  <view class="content livelist">
    <view
      :class="{end:item.live_status === 103}"
      v-for="(item,index) in roomList"
      @click="goLivesRoom(item.roomid)"
      :key="index"
    >
      <image :src="item.cover_img" />
			<text>{{item.name}}</text>
			<text>主播: {{item.anchor_name}}</text>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      roomList: []
    };
  },
  async onLoad() {
    try {
      //  获取直播列表
      const cloud = await this.$cloud;
      const { result } = await cloud.callFunction({
        name: "liveroom" // 云函数名
      });
      console.log(result);
      this.roomList = result.body.room_info;
    } catch (error) {
      console.error(error);
    }
  },
  methods: {
    goLivesRoom(roomId) {
      // 自定义参数
      let customParams = encodeURIComponent(
        JSON.stringify({ path: "pages/lives/index", pid: 1 })
      ); // 开发者在直播间页面路径上携带自定义参数（如示例中的 path 和pid参数），后续可以在分享卡片链接和跳转至商详页时获取，详见【获取自定义参数】、【直播间到商详页面携带参数】章节（上限600个字符，超过部分会被截断）
      uni.navigateTo({
        url: `plugin-private://wx2b03c6e691cd7370/pages/live-player-plugin?room_id=${roomId}&custom_params=${customParams}`
      });
    }
  }
};
</script>

<style>
.livelist {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		padding: 4rpx;
	}
	.livelist view {
		width: 50%;
		box-sizing: border-box;
		padding: 4rpx;
		overflow: hidden;
		border-radius: 10rpx;
		position: relative;
		background: rgb(247, 246, 246);
	}
	.livelist view.end:before {
		content:'直播已结束';
		position: absolute;
		top:0;
		left:0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.6);
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.livelist view image {
		width: 100%;
		/* height: 500rpx; */
	}
	.livelist view text {
		display: block;
	}
</style>