<template>
  <view class="content">
    <view class="text-area">
      <view>开始微信小程序开发使用uni-app</view>
      <button v-if="show" @click="getUserInfo">登录/授权</button>
      <!-- <van-button type="primary">哈哈</van-button>
      <van-button type="info" @click="goDetail">跳转详情页</van-button>-->
      <!-- <uni-card>
        <text>这是一个基础卡片示例，内容较少，此示例展示了一个没有任何属性不带阴影的卡片。</text>
      </uni-card> -->
	  <button @click="goDetail">跳转详情</button>
    <button open-type="contact">客服</button>
    </view>
  </view>
</template>

<script>
import { save_user_info, _login } from "@/services/index";
export default {
  data() {
    return {
      title: "haha ",
      show: true
    };
  },
  async onLoad() {
    await this.login();
  },
  methods: {
    goDetail() {
      this.$goPage({
        url: "/pages/detail/index",
        query: {
          prodId: 18
        }
      });
    },
    async login() {
      const token = uni.getStorageSync("token");
      if (!token) {
        //  提示用户授权
        this.show = true;
      } else {
        //  有token的话不需要授权
        this.show = false;
      }
      const [, { code }] = await uni.login();
      //  根据code 发起请求
      const result = await _login({
        principal: code
      });
      console.log(result);
      //  存到本地存储
      uni.setStorageSync("token", result.access_token);
    },
    getUserInfo() {
      //  获取用户信息  通过按钮去触发
      //
      uni.getUserProfile({
        // 10月25号不能使用
        desc: "获取用户信息授权",
        success(res) {
          const { avatarUrl, nickName } = res.userInfo;
          //  设置 用户信息
          save_user_info({
            avatarUrl,
            nickName
          });
        },
        fail(err) {
          console.log(err);
        }
      });
    }
  }
};
</script>

<style>
</style>
