<template>
  <view>
    <button @click="showPopup">加入购物车</button>
    <view v-html="detailObj.content">
    </view>
    <uni-popup ref="popup" type="bottom">
        <view class="popup_content">
            <view class="popup_close">X</view>
            <view class="popup_info">
                <image
                    :src="skuObj.selectedPic"
                />
            </view>
            <view>
                <h1 v-if="!disabled">
                    已选：{{skuObj.defaultSkuList.join(",")}}
                </h1>
                <h1 v-else>无货</h1>
                <h1>{{skuObj.selectedPrice}}</h1>
            </view>
            <view v-if="skuObj.propertiesList.length">
                <view 
                    v-for="(item,index) in skuObj.propertiesList" 
                    :key="index"
                    class="skuitem"
                >
                    <span class="info_title">{{item.title}}</span>
                    <button 
                        v-for="(item2 , ind2) in item.titlePlus" 
                        :key="ind2"
                        :class="[isActive({
                            ind:index,
                            item:item2
                        })]"
                        @click="handleSel({
                            ind:index,
                            item:item2
                        })"
                    >{{item2}}</button>
                </view>
                <view>
                    <span>数量</span>
                    <button @click="handleChangeCount(-1)">-</button>
                    <span>{{skuObj.selectedCount}}</span>
                    <button @click="handleChangeCount(1)">+</button>
                </view>
                <button @click="goAddr">跳转到地址页面</button>
            </view>
        </view>
    </uni-popup>
  </view>
</template>

<script>
import { _get_detail } from "@/services/detail";
export default {
  data () {
    return {
        detailObj : {},
        skuObj:{
            defaultSkuList:[], // 默认选中
            propertiesList:[],
            selectedPic:'', 
            selectedPrice:0, // 选中商品的价格
            selectedCount:1, // 选中商品的数量
        },
        disabled:false
    }
  },
//    computed 和 watch的区别
//  
  watch: {
    "skuObj.defaultSkuList" ( val ){
        const currentSel = this.haveSkuItem(val);
        //  
        this.skuObj.selectedPrice = currentSel.price * this.skuObj.selectedCount;
        this.skuObj.selectedPic = currentSel.pic;
    },
    "skuObj.selectedCount" (val){
        console.log(val)
        const currentSel = this.haveSkuItem(this.skuObj.defaultSkuList);
        this.skuObj.selectedPrice = val * currentSel.price;
    }
  },
  onLoad(options) {
    this.init(options.prodId);
  },

  methods : {
    goAddr () {
      this.$goPage({
        url:"/pages/address/index"
      })
    },
    handleChangeCount (num) {
        if(num === -1 && this.skuObj.selectedCount === 1) return ;
        this.skuObj.selectedCount = this.skuObj.selectedCount + num;
    },
    handleSel ({ ind,item}) {
        this.disabled = this.isActive({ind,item}).trim() === "disabled";
        let { defaultSkuList } = this.skuObj;
        defaultSkuList[ind] = item;
        this.skuObj.defaultSkuList = [...defaultSkuList];
    },
    haveSkuItem (selectProtites) {
        // ["公开版","金色","64G"]
        // skuName "公开版 金色 64G"
        return this.detailObj.skuList.find(({skuName}) => selectProtites.join(" ") === skuName);
    },
    //  判断是否是当前选中的属性
    isActive ({ ind , item}) {
        //  0 : 属性名  1 ： 属性名  3:属性名
        const selectProtites = [...this.skuObj.defaultSkuList];
        selectProtites[ind] = item;
        // console.log(selectProtites,"-------selectProtites-----");
        let flag = "";
        this.skuObj.defaultSkuList.forEach((val , i) => {
            if(ind === i && item === val) {
                flag = "active"
            }
        });
        //  选的东西  是否还有
        flag = this.haveSkuItem(selectProtites) ? flag : flag + "disabled";
        // console.log(flag,"---------flag-----");
        return flag;
    },
    showPopup () {
        console.log(111);
        this.$refs.popup.open('bottom');
    },
    formatHTML (str) {
        return str.replace(/width\=\"\d+\"/g,'width="100%"').replace(/height\=\"\d+\"/g,"");
    },
    formatSKU (skuList) {
        //  判断skuList是否为空数组
        if(skuList.length){
            //  必须有sku 
            const { properties , skuName } = skuList[0]; // 默认第一个
            this.skuObj.defaultSkuList = skuName.split(/\s/);
            if(properties) {
                //  处理 商品规格参数
                this.skuObj.propertiesList = properties.split(";").map((item,index) => {
                    const [title] = item.split(":");
                    const titlePlus = [...new Set(skuList.map(({skuName}) => skuName.split(/\s/)[index]))];
                    return {
                        title,
                        titlePlus
                    }
                });
                console.log(this.skuObj.propertiesList);
            }

        }
    },
    async init (id) {
        const result = await _get_detail(id);
        result.content = this.formatHTML(result.content);
        this.detailObj = result;
        this.formatSKU(result.skuList);
        this.skuObj.selectedPic = result.pic;
        this.skuObj.selectedPrice = result.price;
    }
  }
};
</script>

<style>
.popup_content {
    background: #fff;
    min-height: 500rpx;
    width: 100%;
  }
  .info_image image,  .info-image view{
    width: 100rpx;
    height: 100rpx;
    background: #ccc;
  }
  .skuitem {

  }
  .skuitem button {
    padding: 4rpx 10rpx;
    display: inline-block;
    height: 80rpx;
    line-height: 80rpx;
    font-size: 24rpx;
  }
  .skuitem button.disabled{
    background-color: #f7f7f7;
    color: #fff;
    border-style: dashed;
  }
  .skuitem button.active{
    background: rgb(216, 60, 74);
    color: #fff;
    border-color: transparent;
  }
  .info_title {
    display: block;
    font-size: 24rpx;
  }
  .popup_count_box button, .popup_count_box span{
    width: 80rpx;
    height: 80rpx;
    text-align: center;
    line-height: 80rpx;
    display: inline-block;
  }
  .popup_footer {
    display: flex;
  }
  .popup_footer.disabled button{
    background: #ccc;
    color: #fff;
  }
  .popup_footer button {
    flex: 1;
  }
</style>