<template>
  <view>
    请添加地址
    <button @click="checkLocation">在地图上选点</button>
    <button @click="showPicker">显示地址选择</button>
    <view v-if="visible">123</view>
    <picker-view
      v-if="visible"
      :value="value"
      indicator-style=""
      class="pickerView"
      @change="changeItem"
    >
      <picker-view-column>
        <view class="item" v-for="(item) in provinceList" :key="item.areaId">{{item.areaName}}</view>
      </picker-view-column>
      <picker-view-column >
        <view class="item" v-for="(item) in citiesList" :key="item.areaId">{{item.areaName}}</view>
      </picker-view-column>
      <picker-view-column >
        <view class="item" v-for="(item) in areaList" :key="item.areaId">{{item.areaName}}</view>
      </picker-view-column>
    </picker-view>
  </view>
</template>

<script>
import { get_province } from "@/services";
export default {
    data () {
      return {
        visible:false,
        provinceList:[],
        citiesList:[],
        areaList:[],
        ids:[0,0,0], // 用来存放省市区的id
      }
    },
    onLoad () {
      this.getProvince(0);
    },
    methods : {
        async changeItem (e) {
          this.ids = e.detail.value;
          console.log(this.ids);
          this.citiesList = await this.getCities(this.provinceList);
          this.areaList = await this.getArea(this.citiesList);
        },
        showPicker () {
          this.visible = true;
        },
        async getList (id,propName) {
          const res = await get_province({
            pid:id
          });
          this[propName] = [...res];
        },
        async getProvince (pid) {
          const result = await get_province({pid});
          const resultCities = await this.getCities(result);
          const resultArea = await this.getArea(resultCities);
          this.provinceList = [...result];
          this.citiesList = [...resultCities];
          this.areaList = [...resultArea];
        },
        async getCities (result) {
          return await get_province({
            pid:result[this.ids[0]].areaId
          })
        },
        async getArea (result) {
          return await get_province({
            pid:result[this.ids[1]].areaId
          })
        },
        checkLocation () {
            uni.navigateTo({ url: '/pages/chooseLocation/index' })
        }
    },
    

}
</script>

<style>
.pickerView {
    width: 600rpx;
    height: 600rpx;
    margin-top: 20rpx;
}
.item {
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

</style>