<template>
  <view>
    地图选点
    <button @click="goMap">地图选点</button>
  </view>
</template>

<script>
const chooseLocation = requirePlugin("chooseLocation");
export default {
    onShow() {
        const location = chooseLocation.getLocation();
        console.log(location);
    },
    onUnload () {
        //  页面卸载时  设置选点结果为null   返回的信息还是上一次选择的位置
        chooseLocation.setLoacation(null);
    },
  methods: {
    goMap() {
      const key = "4XSBZ-ZG3KQ-NQQ5Z-G5KT5-PTH3F-SMBT6"; // 使用腾讯位置服务的申请的key
      const referer = "八维电商平台"; // 调用插件的小程序app的名称
      const location = JSON.stringify({
        // 地图上的点 设置中心点
        latitude: 39.89631551,
        longitude: 116.323459711
      });
      const category = "生活服务,娱乐休闲";
      //    跳转到地图插件页面
      uni.navigateTo({
        url:
          "plugin://chooseLocation/index?key=" +key +"&referer=" +referer +"&location=" +location +"&category=" +category
      });
    }
  }
};
</script>

<style>
</style>